<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DG834GT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DG834GT.Properties.Settings.routerlogsConnectionString"
      connectionString="Data Source=|DataDirectory|\routerlogs.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="pHMb.Router.Properties.Settings.routerlogsConnectionString"
      connectionString="Data Source=|DataDirectory|\routerlogs.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="pHMb.Router.Properties.Settings.settingsConnectionString"
      connectionString="Data Source=|DataDirectory|\settings.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"   />
    </settings>
  </system.net>
  <userSettings>
    <DG834GT.Properties.Settings>
      <setting name="l12HourResolution" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="l1DayResolution" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="l1MonthResolution" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="l1YearResolution" serializeAs="String">
        <value>1440</value>
      </setting>
      <setting name="l10YearResolution" serializeAs="String">
        <value>14400</value>
      </setting>
    </DG834GT.Properties.Settings>
  </userSettings>
</configuration>