<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Sky_Router_Tool_Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <userSettings>
  <Sky_Router_Tool_Web.Properties.Settings>
   <setting name="HttpPort" serializeAs="String">
    <value>80</value>
   </setting>
   <setting name="RouterUsername" serializeAs="String">
    <value>admin</value>
   </setting>
   <setting name="RouterPassword" serializeAs="String">
    <value>sky</value>
   </setting>
   <setting name="RouterHostname" serializeAs="String">
    <value>192.168.0.1</value>
   </setting>
   <setting name="RouterPollInterval" serializeAs="String">
    <value>60</value>
   </setting>
   <setting name="HttpUsername" serializeAs="String">
    <value>admin</value>
   </setting>
   <setting name="HttpPassword" serializeAs="String">
    <value>sky</value>
   </setting>
   <setting name="SkyCompatibilityMode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="RouterModel" serializeAs="String">
    <value>F_ST2504</value>
   </setting>
  </Sky_Router_Tool_Web.Properties.Settings>
 </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
